<% include partials/header %>

<div class="container">

<h3>Login Form</h3>

<form action="/login" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button class="btn btn-success">Submit</button>
</form>
  <a href="/register" style="font-size: 25px; font-family:sans-serif">Don't have an account?</a>
</div>
<% include partials/footer %>